* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    
}

.body {
    max-width: 1440px;
    margin: auto;
}

:root {
    --black: #2B2B2B;
    --green: #8EBB33;
    --white: #FFFFFF;
    --dark: #325462;
    --light-grey: #F5F5F5;
    --orange: #FD7E4E;
}

img {
    max-width: 100%;
    display: block;
}

h1,
h2 {
    font-family: 'Poetsen One', sans-serif;
}

h1 {
    font-size: 68px;
    font-weight: 400;
}

h2 {
    font-size: 48px;
    font-weight: 400;
    line-height: 190%
}

button {
    all: unset;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.hero-container {
    max-width: 1440px;
    margin: 0 0 0 100px;

}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.header {
    background-color: var(--black);
}

.navbar {
    padding: 20px;
    align-items: center;
}

.nav-menu {
    z-index: 1;
    gap: 38px;
}

.nav-link {
    color: var(--white);
    font-weight: 600;
}

.nav-link:hover {
    color: var(--green);
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
}

.nav-link:active {
    color: var(--green);
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
}

.btn {
    background-color: var(--green);
    color: var(--white);
    border-radius: 10px;
    padding: 1rem 2rem;
    text-transform: uppercase;
    cursor: pointer;
    /* border-color: var(--green); */
    /* border: unset; */
    border: 1.5px solid var(--green);
}

.btn:hover {
    background-color: #84AE2F;
}

.hero-section {
    background: var(--dark);
}

.hero-content {
    margin-top: 55px;
    display: block;
    width: 50%;
}

.hero-img {
    max-width: 100%;
    object-fit: cover;
    align-self: flex-end;
}

.hero-heading {
    color: var(--white);
}

.hero-para {
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    color: var(--white);
    margin: 24px auto 48px;
}

.cta {
    display: flex;
    gap: 1.5rem;
}

.btn1 {
    gap: 10px;
    align-items: center;
}

.btn1>a {
    color: var(--white);
    font-weight: 600;
}

.btn2 {
    background-color: var(--dark);
}

.icons {
    margin-right: auto;
    margin: 48px auto;
}

.logos {
    gap: 4.5rem;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.training-container {
    display: flex;
    gap: 1rem;
    padding: 120px 0;
}

.training-section {
    background-color: var(--light-grey);
}

.training-heading {
    /* display: flex; */
    position: relative;
    width: 123%;
}

.training-heading>h2>span {
    font-family: 'Poetsen One', sans-serif;
    color: var(--green);
}

.tHeading {
    padding-top: 10px;
}

.tImg {
    float: right;
    clip-path: polygon(50% 4%, 72% 40%, 91% 85%, 62% 92%, 25% 97%, 27% 41%, 30% 9%);
}

.program-details {
    background-color: var(--dark);
    padding: 20px 38px;
    gap: 1.5rem;
    border-radius: 10.3622px;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem 1rem 2rem 1rem;
    color: var(--white);
    opacity: 0.8;
}

.card:hover {
    background-color: var(--green);
    box-shadow: 25.9055px 25.9055px 34.5407px rgba(0, 0, 0, 0.25);
    border-radius: 5.1811px;
    color: var(--black);
}

.rightchoice {
    align-items: center;
    justify-content: space-between;
    gap: 188px;
}

.arrows {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, minmax(180px, 240px));
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

.farrow {
    display: flex;
    gap: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    color: var(--black);
}

.lbtn {
    margin-top: 48px;
    gap: 10px;
    align-items: center;
}

.lbtn>a {
    color: var(--white);
}

.fpara {
    margin: 20px 0 48px 0;
}

.bigChange {
    padding: 80px 0;
    align-items: center;
    gap: 124px;
}

.cAside {
    width: 50%;
}

.profTrainer {
    background-color: #325462;
    padding: 60px;
}

.tCard {
    flex-direction: column;
    align-items: center;

}

.fCards {
    gap: 30px;
    justify-content: space-between;
    margin: 60px auto;
    color: var(--white);
}

.iFlex {
    gap: 10px;
}

.tCard>p {
    padding: 8px;
}

.tCard>h3 {
    padding-top: 8px;
}

.girl {
    z-index: 1;
}

.prof-container>h2,
.prof-container>p {
    margin: auto;
    text-align: center;
    color: var(--white);
}

.prof-container>h2>span {
    color: var(--orange);
    font-family: 'Poetsen One', sans-serif;
}

.viewAll {
    gap: 10px;
    margin: auto;
}

.viewAll>* {
    color: var(--white);
}

.galGrid {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    margin: 56px auto 60px;
}

.gal-container>h2,
.gal-container>p {
    margin: auto;
    text-align: center;
    color: var(--black);
    max-width: 60%;
}

.gal-container>h2>span {
    color: var(--orange);
    font-family: 'Poetsen One', sans-serif;
}

.testimonials {
    background-color: var(--green);
    margin: 120px auto 0;
}

.testimonials-container {
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.testHeading {
    justify-content: space-between;
    align-items: center;
}

.testArrows {
    gap: 21px;
}

.testCard {
    background-color: var(--dark);
    padding: 50px 20px 50px 50px;
    width: 70%;
    margin-top: 50px;
}

.BS {
    color: var(--white);
}

.SG {
    color: var(--green);
    margin-bottom: 20px;
}

.pp {
    color: var(--white);
}

.foot {
    flex-direction: column;

}

footer {
    background-color: var(--black);
    padding: 62px 0;
    color: var(--white);
}

.footer {
    gap: 100px;
}

.foot>a {
    margin: 6px 0;
    color: var(--white);
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.foot>h4 {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
}
.add{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.input{
    position: relative;
    border: #F5F5F5 1px solid;
    position: relative;
    background-color: var(--white);
    border-radius: 100px;
    display: flex;
    align-items: center;
}
input{
    all: unset;
    padding: 10px 45px 10px 10px;
}
.send{
    position: absolute;
    right: 5px;

}
.send>img{
    width: 32px;

}